
div {
    border: 1px solid black;
    
    overflow: hidden;
    white-space: nowrap;
}
#firstNum{
    border: 1px solid black;
    
    overflow: hidden;
    white-space: nowrap;
}
#secondNum{
    border: 1px solid black;
    
    overflow: hidden;
    white-space: nowrap;
}

